[2020-03-02 19:12] paemason opened #8 "Create option to use existing Packet project"
@c0dyhi11
We should create boolean/if logic to allow the choice to create a Packet Project or use an existing one.

Known limitation of using an existing project-

- Packet Project supports max of 12 VLANs, and our build uses 5. Therefore there would be a maximum of 2 of these builds per project.

[2020-03-04 23:25] paemason opened #11 "Enable a single ESXi host deployment"
Create the option to have a single ESXi host (meaning no VSAN and disks need to be automatically aggregated into a single datastore).

The router will still exist as its own server. Thus we should do some testing on some of the smaller servers.

[2020-03-04 23:49] paemason opened #12 "Move resource pool create from upload_ova.sh to deploy_vcva.py"
We should move line 12 `govc pool.create '*/${vmware_resource_pool}'` to deploy_vcva.py for users that are not completing the Anthos prerequisites .

This is the more logical place for it any how.

We may also want to refactor upload_ova.sh to be a .py to keep consistency.

[2020-03-05 20:49] c0dyhi11 opened #14 "Update all Terraform code to TF12 format to remove Warnings"
There are currently warnings every time you run Terraform because of TF11 vs TF12 language changes. We should update all of the TF to be TF12.

[2020-03-05 21:26] paemason opened #15 "Implement code to clean up assigned IP blocks"
Now that we have the IP block assignment fix in, we can implement code to give back the ip blocks after the esxi hosts are converted to layer to give back the IPs.

This would reduce costs ($0.04 per hour!!) and more importantly give back the IPs to be used on different projects.

I've tested manually deleting the IP blocks after the project was created and it had no impacted on the environment or

[2020-03-08 15:53] boredabdel commented on #14
https://github.com/packet-labs/google-anthos/pull/16

Can you assign this one to me please.

Thanks

[2020-03-09 15:54] c0dyhi11 commented on #15
I fixed this in the VMware only version of this repo.
I'll try and get this turned into a PR soon.
Here are the changes:
https://github.com/c0dyhi11/vmware-on-packet/blob/bd368a0f70f4abb0aa65c4593580560bc85a842e/08-esx-host-networking.tf#L59
https://github.com/c0dyhi11/vmware-on-packet/blob/bd368a0f70f4abb0aa65c4593580560bc85a842e/templates/esx_host_networking.py#L153
https://github.com/c0dyhi11/v

[2020-03-09 16:14] c0dyhi11 commented on #14
Done! @boredabdel

[2020-03-09 16:22] boredabdel commented on #14
Thanks !

[2020-03-09 16:55] c0dyhi11 commented on #14
fixes #16

[2020-03-09 16:57] paemason commented on #12
@boredabdel tagging you on this until we can add you as a collaborator and assign to you.

[2020-03-09 17:00] c0dyhi11 commented on #12
@paemason If someone is not deploying Anthos automatically, and we create this resource pool for them (An Anthos pre-req). Wouldn't they not know about this step in a generic VMware Env? I think keeping this behind the "Deploy Anthos" flag is best.

[2020-03-09 17:22] paemason commented on #12
Discussed with with @c0dyhi11 and I agree. The creating the resource pool is part of the Anthos install and should be there for someone who wants to 'practice' the full anthos install experience. We're going to close this issue.

[2020-03-09 17:22] #12 closed, assigned to nobody

[2020-03-09 18:54] boredabdel commented on #8
Will have a PR ready in the next couple of days!

[2020-03-09 23:42] #14 closed, assigned to boredabdel

[2020-03-10 04:01] #15 closed, assigned to c0dyhi11

[2020-03-10 14:38] paemason opened #18 "move admin workstation creation over to gkeadm"
1.3 will bring a new method for bringing up the admin workstation: gkeadm. We should align with the product direction and use gkeadm instead of terraform for the admin workstation bring up moving forward.

[2020-03-10 16:29] paemason opened #19 "terraform-provider-vsphere-v.16 breaks Anthos install"
Per Anthos GKE on-prem release notes https://cloud.google.com/anthos/gke/docs/on-prem/release-notes#February_21_2020, we need to change the code to use a vsphere provider version <16

[2020-03-11 15:46] paemason opened #21 "Change router to c3.small.x86"
Adjust the router to c3.small.x86 which also requires a change to ubuntu 18.04. This is more right sized and reduces costs by $0.50 per hour.

We can borrow heavily from @c0dyhi11 existing work (https://github.com/c0dyhi11/vmware-on-packet).

[2020-03-11 15:47] paemason commented on #21
I've got code ready, just waiting on [pr#20 ](https://github.com/packet-labs/google-anthos/pull/20) before I merge, test, and submit a pr.

[2020-03-11 16:01] paemason commented on #21
@c0dyhi11 The c3.small with ubuntu 18.04 may not be ready for external users. I see:
`Error: ubuntu_18_04 is not a valid operating system for the plan c3.small.x86 and facility ["dfw2"]`

The portal only lists custom iPXE as an option.

[2020-03-11 16:39] c0dyhi11 commented on #21
Hmm... That's interesting. I know another customer can use it. Maybe the google entitlement needs to be tweaked.

[2020-03-11 21:52] paemason commented on #21
Understood, the limitation is something specific to my account set up. Will continue this work once the entitlement gets resolved.

[2020-03-12 10:42] boredabdel commented on #21
I tried this before on my account and had the same result, could not spin
up c3.small with ubuntu

On Wed, Mar 11, 2020 at 10:52 PM Paul Mason <notifications@github.com>
wrote:

--
Best Regards

Abdelfettah | Strategic Cloud Engineer | abdelfettah@google.com | +46 70
534 68 78

[2020-03-12 20:39] matthewkrupnik commented on #18
We have a need to deploy older versions to be able to test upgrades. I would really appreciate maintaining backwards compatibility at least one minor version back. So maybe until 1.4.0 is released keep a way to deploy 1.2.x.

[2020-03-12 20:51] matthewkrupnik opened #22 "Make dnsmasq changes more resilient"
Maybe it's too much of a one off, but I ran into an issue where terraform exited with an error when running `33-anthos-deploy-admin-workstation.tf`. And when I restart things break pretty bad because `replace_tf_vars.py` ran before the failure and added an entry in `dhcp.conf` for admin workstation. When I re-run terraform it executes the script again, which adds the line again and then dnsmasq do

[2020-03-12 20:53] paemason commented on #18
Thanks for the feedback on what you'd need for your use case.

I think we can do a version check and use the terraform method for anything pre 1.3. We have something similar in place currently on the bundled load balancer.

At a minimum, users will always be able to deploy just the vsphere components and then choose their version Anthos and how they want to deploy it, but I'd like to try to keep b

[2020-03-12 21:19] matthewkrupnik opened #23 "Support for different datastore types"
With vSAN having issues when selecting different instance types and some instance types having very limited storage I think it's a good idea to add support for NFS. I am currently doing this by hand.. creating a new storage volume, attaching it to the router machine and hosting NFS server allows for a datastore of any size.

For reference, here's the doc for attaching storage volume to machine: ht

[2020-03-12 22:03] c0dyhi11 commented on #22
Hey @matthewkrupnik,

Thanks for creating this issue.

I agree this should be more resilient and idempotent. We should search the whole file for the IP because it might not be the last line either... This entire playbook should be looked at for issues like this. My recommendation is a `terraform destroy --auto-approve && terraform apply --auto-approve` for issues like this for now (I know it's not

[2020-03-12 22:06] c0dyhi11 commented on #23
Hey @matthewkrupnik,

That's a great idea. I'd love to get you involved in this project to help implement some of this. We could add a flag for `deploy_nfs=true` and if it's true we'd then have a parameter for the size of volume.

We are currently building single node support which will allow you to use the local disk instead of vSan. (I'm testing this as I write this)

Let me know if you'd like t

[2020-03-12 22:08] c0dyhi11 commented on #21
The latest update here is that the c3.small.x86 is not ready for prime time. We have 2x outstanding issues which make it difficult to provision. We are addressing these and will then get back to this issue.

[2020-03-13 15:52] #11 closed, assigned to paemason

[2020-03-13 15:52] #19 closed, assigned to paemason

[2020-03-16 17:22] paemason opened #25 "Working with n2.xlarges"
I attempted to do an ESXi single server deployment on an n2.xlarge however hit an issue with the api call to move from layer3 to hybrid.

`Error: Failed to convert device eae44273-c7e1-404e-aa6d-4284445545c3 from layer3 to hybrid. New type was layer3`

[2020-03-16 17:24] c0dyhi11 commented on #25
@t0mk Can you please take a look at getting Hybrid mode to work on n2.xlarge hosts/
https://github.com/packet-labs/google-anthos/blob/764f580afe90e6ae6eb7819fd36fe6bd6a6d4059/04-esx-hosts.tf#L10

[2020-03-17 13:25] vhamburger opened #26 "Using VMware vSphere 6.7 for ESXi hosts"
Tried to modify variable "vmware_os" to use more recent 6.7 version. But that failed.
Is there a way to use the more recent 6.7 version for the vSphere hosts? Given that 6.5 is more than 5 years old by now switchting to 6.7 would be the far better option...
Also, Anthos fully supports vSphere 6.7 as of version 1.2.0

[2020-03-17 14:39] paemason commented on #26
Currently Packet does not support ESXi 6.7 installed on their systems. There has been discussions as to when that might happen. @c0dyhi11 any updates?

[2020-03-18 10:03] t0mk commented on #25
hi, I will take a look today. There are more network cards, so the n2 must be handled a bit differently. This is related comment:
https://github.com/terraform-providers/terraform-provider-packet/issues/224#issuecomment-593923444

[2020-03-19 20:34] c0dyhi11 opened #31 "Add sudo to openssl command to get around permissions issue"
The following errors are happening during openssl CA certificate creation.
[code]
There are some openssl issues and it looks like this is a permissions issues according to: https://github.com/openssl/openssl/issues/7754

I think updating the following line From:
https://github.com/packet-labs/google-anthos/blob/40af0e953984c6a735b3e0bcf9c39e36f7af6176/anthos/cluster/finish_cluster.sh#L22

To:
[cod

[2020-03-20 18:05] paemason commented on #31
I'm unsure this is causing any issues. The gateway object and the ingressgateway-wildcard-cacerts is getting created correctly.

[2020-03-20 22:51] boredabdel commented on #22
I can take this one. I think it's  a general thing that applies to every script we have in the codebase, we need a failsafe mechanism for re-running scripts upon Terraform failure.

[2020-03-20 22:52] boredabdel opened #34 "Script failure is silenced"
Noticed an other issue where the script fails to execute but terraform just says it's exited with non 0 without too much details, had to ssh into the node, re-run the script to figure out it had forgotten to provide the storage-reader json file.

This is easy to re-produce, just remove one of the json keys files (the storage-reader would be the easiest. run the script and watch it die with no deta

[2020-03-23 16:58] paemason opened #35 "Add enableha=true to load balancer config"
1.3 will introduce a new field within loadbalancerconfig to enable ha aptly named enableha.

We should enable this for releases 1.3 and beyond. But if this field is in a 1.2 deployment then the config will be invalid.

Some sed-fu should be applied to make this work.

[2020-03-23 19:57] t0mk commented on #25
Hey, this should be fixed in provider version 2.8.0 by https://github.com/terraform-providers/terraform-provider-packet/pull/225

[2020-03-25 13:23] paemason opened #37 "Reserve some IPs from VM Private Net for services VIPs"
Users should assign services VIPs from the VM Private Subnet (172.16.3.0/24 by default). However currently we use the entire subnet as the DHCP range and reserve known IPs as needed.

We should constrict the range to say 150 IPs (up to .150) which would leave 154 IPs (in a /24) for VIPs. That's more than enough dynamic IPs and pool for VIP assignment.

Doing this to all subnets within user_data.py

[2020-03-25 14:17] c0dyhi11 commented on #37
@paemason Since this IP space is dynamic... We should add a blob in the 00-vars.tf json for something like `reserved_ip_count`

Then in python when we create the dhcp scope. We'll remove the top `reserved_ip_count` ips from the DHCP range.

In python we should make this an optional parameter.
[code]

[2020-03-26 22:34] liuyuan10 commented on #35
If you are using vds v6.6, it's just as simple as running
gkectl prepare network --config=config.yaml

to enable MAC learning for the portgroups used by lb.

[2020-03-29 21:58] #35 closed, assigned to paemason

[2020-03-29 21:58] #37 closed, assigned to paemason

[2020-03-29 21:59] #18 closed, assigned to paemason

[2020-03-31 20:09] paemason opened #43 "Occasionally the ESX01 server fails to communicate with vCenter"
On several occasions I've observed an ESX host (so far it has always been ESX01 but that my be coincidence) disconnects from the vCenter but continues to run VMs fine.

This will cause trouble when trying to deploy the Anthos cluster. Manually logging in and [resetting the management agents on the ESXi server](https://kb.vmware.com/s/article/1003490) seems to remedy this.

If we see this continue

[2020-04-01 11:28] boredabdel commented on #8
Do you still want to close this one in favor or your pr ? i can get this out in 1 or 2 days if needed ?

[2020-04-01 15:02] paemason commented on #8
I closed your PR because I incorporated it into in my code for ssh key. The code is already complete if you want review pr #45 and then I'll merge it.

Sorry about that, but I needed the code right away for a project.

[2020-04-01 17:38] paemason commented on #21
Was able successfully test with the s3.small today. Speaking with @c0dyhi11, the c3.small may not be deployed widely enough to make this the default router.

However, if someone wants to try it out, they can add the following to their tfvars file:
`router_size = c3.small.x86`

[2020-04-01 17:41] #8 closed, assigned to boredabdel

[2020-04-01 18:05] boredabdel commented on #8
Understood, no issues sorry for the late reply, I will pick an other issue

[2020-04-01 18:07] boredabdel commented on #23
Does packet.com have a managed NFS offering @c0dyhi11 ? or this should be implemented with a simple single NFS server on Linux ?

[2020-04-02 19:28] paemason opened #49 "Create an option to use Open VPN"
L2tp VPN can be problematic, especially for Windows clients.

We should explore an option to install an Open VPN server on the edge gateway as an alternative.

[2020-04-08 20:02] c0dyhi11 opened #52 "Sleep is not defined..."
https://github.com/packet-labs/google-anthos/blob/f151c0d6a507768b079bd54329951a5aee6b128a/templates/deploy_vcva.py#L71

Looks like we never hit this code path before:
[code]
We need to add:
[code]

[2020-04-08 20:23] paemason commented on #49
We've decided that we'll let users install openvpn on their own if they want to use it after the automated build completes.

I'll create an md file with instructions how to do that and link it off the readme.md.

Until then I've linked https://www.cyberciti.biz/faq/ubuntu-18-04-lts-set-up-openvpn-server-in-5-minutes/ which is a super fast and easy way to set up openvpn.

[2020-04-08 23:14] #52 closed, assigned to c0dyhi11

[2020-04-09 20:24] paemason opened #54 "gkeadm validation fails on internet connectivity"
The gkeadm validation could fail the internet connectivity test despite there being no issue with internet connectivity.

We will add the flag to skip validation to avoid this bug.

[2020-04-09 20:26] #54 closed, assigned to nobody

[2020-04-10 20:32] paemason opened #56 "We are not reserving IPs for the seesaw nor VIPs"
Currently we do not reserve any IPs from the private network DHCP pool when we assign IPs/VIPs for the seesaw.

We risk having an IP collision with the Anthos VMs that are deployed and the seesaw IPs/VIPs.

[2020-04-10 23:46] paemason commented on #56
I was mistaken, my build had another issue which prevented the code responsible for this to fail.

[2020-04-10 23:46] #56 closed, assigned to nobody

[2020-04-19 13:57] boredabdel commented on #34
This is clearly [1] missing in TF. There is a module that someone wrote to do exactly this https://github.com/matti/terraform-shell-resource.

I will give it a try and see if we can incorporate it

[1]https://github.com/hashicorp/terraform/issues/610

[2020-05-05 22:45] ameer00 opened #61 "Error: error executing "/tmp/terraform_1532445389.sh": Process exited with status 32"
Just tried this on a fresh project.

Here is a bit more detailed TF outputs although no errors prior to the line in the subject.

[code]

[2020-05-05 22:49] paemason commented on #61
Could you share the contents of that .sh which failed?

Something obviously failed, best bet is to terraform destroy and try again but it would help to understand better what went wrong.

[2020-05-05 22:51] ameer00 commented on #61
i think this is my fault. When I scrolled up the TF output I see some errors accessing the GCS bucket. I am retrying but this time running the `create_service_accounts.sh` script as suggested. will let you know shortly :)
For your records:
[code]

[2020-05-06 11:58] boredabdel commented on #61
That's because Terraform output is very verbose and sometimes info messages get mixed up with errors in a way that makes it difficult to track

I logged this issue in the past but didn't had time to get into it https://github.com/packet-labs/google-anthos/issues/34

Paul do you think it's worth investing time in this ?

[2020-05-06 14:55] paemason commented on #61
@boredabdel I believe it would be very helpful to provide better error exit messages.  I think we should pursue #34

As @ameer00 has resolved his issue I'll close this issue.

[2020-05-06 14:55] #61 closed, assigned to nobody

[2020-06-09 17:09] paemason commented on #26
This is possible now using the gen 3 hardware see: https://github.com/packet-labs/google-anthos#using-packet-gen-3-hardware-and-esxi-67

[2020-06-09 17:09] #26 closed, assigned to nobody

[2020-06-09 17:10] paemason commented on #21
This is available now by using gen 3 hardware (note, the c3.small are in high demand and it is wise to run `check_capacity.py` prior attempting to use a c3.small to confirm availability), see: https://github.com/packet-labs/google-anthos#using-packet-gen-3-hardware-and-esxi-67

[2020-06-09 17:10] #21 closed, assigned to paemason

[2020-06-09 17:12] paemason commented on #43
This appears to be an issue with ESXi 6.5. Recommend using ESXi 6.7 with the c3.medium.x86. see: https://github.com/packet-labs/google-anthos#using-packet-gen-3-hardware-and-esxi-67

[2020-07-09 13:05] displague opened #80 "Timeouts result in Terraform provider crashes"
As reported in the [#google-anthos](https://packetcommunity.slack.com/archives/CU7HC3RJP/p1594207906242100) of the Packet Community Slack, the VMWare ESX provisioning phases take a longer amount of time and subsequently timeout more frequently.

Several members of the channel have identified a common error being reported during this phase, in providers 2.7.5 and 2.10.0 alike, perhaps others:

[cod

[2020-07-09 13:06] displague commented on #80
While the underlying timeouts are out of scope for this issues, the Terraform provider crashes should be addressed by https://github.com/terraform-providers/terraform-provider-packet/pull/239.

[2020-07-10 04:09] displague commented on #25
This issue is ongoing, as @paemason reported in [Packet Slack #google-anthos](https://packetcommunity.slack.com/archives/CU7HC3RJP/p1594321185283700).

I'm going to start adding tests in packngo and terraform-provider-packet to verify that these functions are behaving predictably and expectedly.  The problematic states @t0mk reported from the manual testing at https://github.com/terraform-provider

[2020-07-10 10:36] t0mk commented on #25
@displague I keep this in mind, I've just managed to run the vmware device again, and I will try to debug this today.

[2020-07-10 15:14] t0mk commented on #80
provider version 2.10.1 was release with your fix

[2020-07-11 06:18] t0mk commented on #25
@displague This happens with n2.large?

[2020-07-11 19:50] displague opened #82 "Prevent unattended-upgrades from blocking apt-get install"
As noted in the [README.md Troubleshooting tips](https://github.com/packet-labs/google-anthos#null_resourcedownload_vcenter_iso-remote-exec-e-could-not-get-lock-varlibdpkglock---open-11-resource-temporarily-unavailable):

Currently, should this happen, the best resolution is to clean up your deployment and try again.

Prevent this collision by disabling `unattended-upgrades` until the installation

[2020-07-11 19:54] displague commented on #82
Noting here, that the README.md troubleshooting tips should be updated when this is fixed.

I'm also noting that the README.md should be updated to include a message about this failed to provision error state:

[2020-07-13 20:24] displague opened #83 "can't destroy after a failed deployment"
After a failed provision, the index on reserved IP blocks can reference an invalid index, preventing `terraform destroy` from succeeding.

[code]

[code]

[2020-07-17 02:55] displague commented on #83
I dressed this up as follows:

[code]

And was then able to `terraform refresh`.

I haven't thought through whether or not this is a suitable value under this condition.  I was able to destroy the resources afterward.

Closing this, but we may want to revisit this solution if others report this problem.

[2020-07-17 02:55] #83 closed, assigned to nobody

[2020-07-23 20:36] #80 closed, assigned to displague

[2020-07-28 00:46] geojaz opened #89 "The default for 'facility` variable (ny5) does not seem to exist"
I noticed the default packetlabs facility in variables.tf was updated to `ny5`: https://github.com/packet-labs/google-anthos/blob/2e4bc665fefe8b9f7b1a1cd9414a2d2cae42537b/variables.tf#L99-L101

I tried using the new facility, but got an error:
[code]
Am I doing something wrong here? I checked the web console to see if the facility showed up in the UI and didn't see it there either. Is this facilit

[2020-07-28 14:56] paemason commented on #89
It did at some point, but I agree that ny5 appears to be causing issues currently. @c0dyhi11  can you confirm if there currently exists an issue with using ny5, and if so can we remove it as the default facility?

in the meantime, you can add `facility = "dfw2"` to your terrafrom.tfvars file

[2020-07-28 16:01] c0dyhi11 commented on #89
It looks like we had an issue at this time. This should be resolved now.

[2020-07-28 17:16] displague opened #91 "Create a CI/CD workflow for contributions and periodic testing of the default branch"
This project is very complex, spanning the creation and provisioning of physical hardware, virtual networking, operating systems, licensed software installations, with Anthos and Kubernetes clusters eventually coming out of the 1h+ provisioning process.

In order to allow this project to evolve quickly while encouraging users to safely depend on this module, we must introduce continuous integratio

[2020-07-28 19:28] geojaz commented on #89
Looks good now. thanks :)

[2020-07-28 19:28] #89 closed, assigned to nobody

[2020-07-29 19:43] displague commented on #91
There are some light Packet TF / CI examples here:
* https://github.com/packet-labs/Packet-Terraform-Boilerplate/blob/master/.drone.yml
* https://github.com/packet-labs/Packet-Terraform-Boilerplate/blob/master/.travis.yml

[2020-08-07 01:49] dfong commented on #91
how can i contribute to this enhancement?

[2020-08-07 18:11] displague commented on #91
@dfong That would be great. Do you have experience configuring GitHub Workflows?  There are a few other Terraform projects that I want to get wired up with this same level of testing, but none of them are at the level described in this issues, yet.

I plan to learn from those experiences, here or in the other projects, and take the learning to the other projects.

[2020-08-07 22:32] dfong commented on #91
i have used travis once, in a simple project, that's it.  i have a lot of general experience but not with github CI.

i have some preliminary questions and suggestions.

* what build tool to use?  i think travis plus some shell scripts would be sufficient.

* how will you handle billing?  will packet provide an account and org that we can use?

* how will you handle secrets and keys?  i would sugg

[2020-08-08 02:30] displague commented on #91
We've been using Github Workflows in recent projects. I would prefer to see us take this route here.

There is a fairly detailed example here: https://www.terraform.io/docs/github-actions/setup-terraform.html

Since this is in a Packet org, CI in this environment would have a secret associated with a Packet authorized testing account. This account would have reduced access to resources based on th

[2020-08-08 02:55] displague commented on #91
I got a little test repo working, https://github.com/displague/terraform-random-petflow.
I don't require any secrets or cloud infrastructure here. I just wanted something to experiment with.

[2020-08-14 17:14] displague commented on #91
I'll start by creating a PR to add the basic workflow, validating and checking the format of terraform files. We can build on this.

[2020-09-02 08:03] rainleander opened #96 "Uniform Standards Request: Experimental"
Hello!

We believe this repository is Experimental and therefore needs the following files updated:

* [x] [The Experimental badge](https://github.com/packethost/standards/blob/master/glossary.md#experimental-badge)
* [x] [The Experimental Statement in the README.md](https://github.com/packethost/standards/blob/master/glossary.md#experimental-statement)
* [x] [Getting Started Tutorial](https://git

[2020-09-02 17:17] dfong opened #97 "use reserved instances"
how can i create a  cluster using reserved instances?

[2020-09-10 05:08] dfong opened #98 "provide bulletproof packet deletion script"
terraform destroy often fails, leaving packet resources allocated, and potentially racking up charges.  it would be helpful to provide users with a bulletproof script to delete packet resources for a cluster.

[2020-09-17 07:57] rainleander commented on #91
Is it possible to get this sorted in the next week? If not, how can I help?

[2020-10-06 16:42] displague opened #102 "Provide issue reporting tips"
We should update the README.md or create an GH Issue template that offers advice on reporting issues.

This should advice users to include a snippet of the errors messages. If Terraform provided a stack trace, including that would be helpful. These should be sanitized of API tokens or IP addresses that may appear in the output.

There are ways to get more detailed output from Terraform by settings

[2020-10-12 03:35] displague opened #106 "vlans may fail to be added to ports after network type conversion"
I captured the following log output while attempting to provision [this module](https://github.com/packet-labs/google-anthos//tree/41093eaa2ecd83ec506023ba9c0ae419a6172aa9) with the following non-default, Packet device, settings:
[code]

[code]

[2020-10-12 04:18] displague opened #107 "no eligible ssds in vsan_claim.py"
I captured the following log output while attempting to provision [this module](https://github.com/packet-labs/google-anthos//tree/41093eaa2ecd83ec506023ba9c0ae419a6172aa9) with the following non-default, Packet device, settings:
[code]

[code]

By adding a print statement in `vsan_claim.py`, we can see that none of the `ssd=True` disks were `status='eligible'`) (only one disk is shown here, for b

[2020-10-20 19:49] dfong opened #108 "anthos 1.5.0-gke.27 errors in terraform apply"
i have been unable to to get anthos 1.5.0-gke.27 to pass "terraform apply" without errors.

here are some of the error messages from the log.

[code]

[2020-10-21 08:41] PsychoSid commented on #108
I too have the same problem with 1.5.0

Looking at what I can from the admin workstation logs they show:-
[code]
The second machine doesn't become ready.

From a describe on the machine objects on the admin cluster I see 1 of the 3 objects not ready:-
[code]

With
[code]

Nodes are:-
[code]

[2020-10-27 01:31] dfong opened #109 "latest supported anthos version"
i would like to be able to specify the "latest supported version" of anthos.  is there an automated way of obtaining this info?

if not, i propose that there should be a text file, perhaps named ANTHOS_SUPPORTED_VERSIONS.txt.  its contents would be one line per supported version, sorted by version number.

eg,

1.1.2-gke.0
1.2.0-gke.6
1.2.1-gke.4
1.2.2-gke.2
1.3.0-gke.16
1.3.1-gke.0
1.3.2-gke.1
1.

[2020-11-06 17:33] displague commented on #108
We may need to open a new issue to update the installation scripts to follow the new `gkectl` based instructions offered in https://cloud.google.com/anthos/gke/docs/on-prem/1.5/how-to/install-landing

[2020-11-08 00:02] dfong commented on #108
@displague, are you able to get "terraform apply" to work with anthos 1.5.0 ?  has anyone gotten it to work?

[2020-11-09 06:53] gfthybridlabs commented on #108
I didn't with 1.5.0 with that 1.5.1 works OK most of the time. Sometimes it gets stuck but as I tend to apply/destroy daily I catch transient issues more than most.

[2020-11-09 18:21] dfong commented on #108
@gfthybridlabs, thanks for the tip!  i will give 1.5.1-gke.8 a try.

[2020-11-24 07:00] parkitibabu commented on #108
Similar issues were encountered with Anthos GKE on-prem versions: **1.4.3-gke.3**, **1.5.2-gke.3**, and **1.5.1-gke.8**. I was unable to bring up the machine nodes which failed to create always with all the above versions.

Seeking help here.

[2020-12-14 08:30] rainleander commented on #91
How can I help with this?

[2021-01-14 23:29] dfong opened #111 "anthos 1.4.1-gke.1 errors during terraform apply"
i can't get "terraform apply" to work with anthos 1.4.1-gke.1.  typically the apply exits with status 0 but the cluster is not functional.  i can see error messages in the log, like this:

null_resource.anthos_deploy_cluster[0] (remote-exec): ^[[0m^[[0mnull_resource.anthos_deploy_cluster (remote-exec): ^[[K    - [FAILURE] ping
      (availability): Following IPs could already be in use: [172.16.3.

[2021-01-16 06:35] dfong commented on #109
as a user i have found that not all revisions of this repo work with all versions of anthos.  i feel it would be helpful to also list for each anthos version, the specific revision(s) of the repo that it has been tested with.  of course, ideally each new version of the repo would be tested against every anthos version.  but short of that, it would be helpful to give the user some idea of which rev

[2021-01-16 17:02] jacobsmith928 commented on #109
@dfong you might try to leverage our latest Anthos on Bare Metal terraform module.
https://registry.terraform.io/modules/equinix/anthos-on-baremetal/metal/latest

[2021-01-19 16:41] c0dyhi11 opened #113 "Break out the vSphere portion into separate module"
We need to compare this repo as well as:
packet-labs/vmware-on-packet
damiens version of this repo as well.

[2021-01-19 16:42] c0dyhi11 opened #114 "Use public IPs instead of DNS"
This will allow us to not need the VPN for vCenter access.

[2021-01-19 20:21] displague commented on #113
Once https://github.com/packet-labs/terraform-packet-vmware/pull/2 has landed, we should compare notes with this project and get this project to use that module (with any needed enhancements).

We'll need to expose variables and outputs for everything this `google-anthos` project needs from the vSphere module.

[2021-01-19 20:40] displague commented on #109
@dfong this data might be best tracked as a Terraform variable. We could track these as two separate variables, supported versions and latest version.

If this is data that you think you may need script access to, we could also consider using the `.tf.json` file format: https://www.terraform.io/docs/configuration/syntax-json.html#variable-blocks. I would probably just include these variables in `v

[2021-01-19 20:49] dfong commented on #109
@jacobsmith928 ,

unfortunately this isn't easy for me to do since the baremetal stuff seems to use different conventions than google-anthos.

also i need anthos 1.4 and 1.5 which doesn't seem to be supported by baremetal.

[2021-01-19 20:55] dfong commented on #109
@displague ,

json would be fine for my purposes, but i'm not sure about terraform.  is there a reasonable way to access a terraform variable outside terraform?

alternatively, branching or tagging would work for me.  that is, if each anthos version had a tag like "tested-with-VERSION" .

[2021-01-20 10:48] gfthybridlabs commented on #109
I tried v1.6 of Anthos but got some errors around node affinity. Maybe it was transient will have to retry.

[2021-01-20 15:12] displague commented on #109
This particular format of tags would not be unique and would need to be moved around commits.

---

This is what I imagine a PR for this would look like. I'm don't know what the current set of versions should be.

`anthos-version-compatibility.tf.json`
[code]

This format would be easy to parse with `jq` for ancillary tooling.

[2021-01-20 18:46] dfong commented on #109
@displague ,

i don't understand your objections.  suppose i need anthos 1.4.  i want to check out a version of google-anthos that is known to work with 1.4.  under my proposed scheme, i'd be able to do that by looking for tags of the form "tested-with-1.4*" and checking out one of them.

of course it is true that the tags would need to be "moved" as further testing is done.  the ability to move t

[2021-01-20 19:37] dfong commented on #108
@parkitibabu , thanks for sharing your data.  did you make any subsequent progress?

[2021-01-21 03:04] dfong commented on #108
i am giving up on anthos 1.5.0-gke.27, which i never got to work.

however, i did get anthos **1.5.1-gke.8** to work, with caveats:

* only works with a 4-node configuration, not 2 nodes as had worked with earlier versions.  the 2-node configuration errored out with messages about needing to set antiAffinityGroup to "enabled: false", but as near as i could tell, the yaml files already specified fa

[2021-01-21 20:06] dfong opened #115 "put private vars in a separate file"
currently terraform.tfvars contains a mixture of private info (eg, orgid and API key), and non-private info (number of nodes, machine model).  it would be better to segregate the two types of info into separate files so that examples of non-private info can be created and shared.

[2021-01-21 20:11] dfong opened #116 "provide working config examples"
there could be a directory of concrete configurations that are known to work.  these would be helpful for users, and could be used in automated tests.  it would also help to have separate files for private vars vs non-private vars, as suggested in issue 115.  if this is done, then only the non-private side would be shared, of course.

[2021-01-26 03:12] dfong opened #117 "terraform apply should fail on error"
currently, when "terraform apply" exits, there is no easy way to know whether the operation was truly successful (yielding a functioning cluster).  it is common for terraform apply to exit with 0 status (success) even if some steps failed leading to a non-functional cluster.

ideally, the command shold exit 0 only if the cluster was correctly created.

if this cannot be achieved, then the sources

[2021-01-28 19:59] dfong opened #118 "provide CODEOWNERS file"
why not add a CODEOWNERS file?  the feaure is described here:
https://github.blog/2017-07-06-introducing-code-owners/

[2021-02-01 16:15] mattsday opened #119 "VCVA deployment times out"
When deploying the vCenter virtual appliance, it always fails with a message like this before timing out:

[code]

Details:
vCenter ISO: `VMware-VCSA-all-6.7.0-15132721.iso`
esxi_size = `c3.medium.x86`

I have worked around it by changing the VCVA appliance ntp to `time.google.com`:
[code]
This is not a permanent fix, as ideally the deployment would fail at this stage instead of continuing until a

[2021-02-01 16:32] dfong commented on #111
i think this may be fixed by PR 112.

[2021-02-01 16:32] #111 closed, assigned to nobody

[2021-02-01 19:39] displague commented on #119
Do we understand why this error is happening?

https://vkernelblog.com/vcenter-failed-to-set-the-time-via-ntp-details/ suggests that port 123 may be blocked.

https://kb.vmware.com/s/article/59729 suggests that if the target NTP service does not respond to ICMP, the NTP "valid server" check will fail (prior to vCenter Server 6.7 Update 2).

I can confirm that `time.nist.gov` does not respond to IC

[2021-02-01 19:46] displague commented on #119
Closed based on #120.

Reopening for @mattsday follow-up:

[2021-02-01 19:47] displague commented on #119
It sounds like this problem could also be solved with a documentation update requiring vCenter Server 6.7 Update 2.

[2021-02-02 09:15] mattsday commented on #119
+1 on a documentation update, would be a much better long-term solution even if switching to `time.google.com` works around the issue for now

[2021-02-16 19:35] displague commented on #113
Thanks for getting the changes needed for Anthos added to the vSphere project, @c0dyhi11.

Those changes have been released as `v2.1.0` of that module for integration with this project.

[2021-02-17 14:35] displague opened #121 "move this project to equinix/terraform-metal-anthos-on-vsphere"
Move this project to its new home.

Requirements:
* Before moving this project, we will want to get #113
  * convert the project to use terraform-provider-metal instead of terraform-provider-packet
* Open a tracking issue for migration notes
* Update in-repo web and git links
* fix any packet-labs or google-anthos references

[2021-02-17 14:36] displague opened #122 "publish this repo to the Terraform Registry"
Publish the repo to https://registry.terraform.io/namespaces/equinix

Requirements:
* #113
* A new release tag

[2021-02-17 14:43] displague commented on #91
Hey @rainleander!

This project has dependencies on GCP creds, VMWare images, EM creds, and perhaps other things.

After #113, I think we can take on #122.  We would be in a better position to setup CI/CD on this project at that time.

I've got a model for GitHub Workflows that I'm pushing through some of the other `terraform-metal-` modules.

https://github.com/equinix/terraform-metal-multiarch-k

[2021-03-29 21:09] displague opened #124 "anthos/create_service_accounts.sh does not respect "key_name" variables"
The anthos/create_service_accounts.sh script has hardcoded names of the expected key files.

variables.tf has variables representing the filenames for these key files.

The script should use the filenames defined as variables.

[2021-03-29 21:13] displague commented on #124
Alternatively, we could benefit from replacing this process with GCP provider usage: https://github.com/equinix/terraform-metal-anthos-on-baremetal/issues/14

[2021-03-29 21:25] displague commented on #124
This issue is invalid, `create_service_accounts.sh` is expected to be run manually before using Terraform.

[2021-03-29 21:25] #124 closed, assigned to nobody

[2021-03-29 22:07] displague opened #125 "get integration tests passing"
Integrations are currently failing with:
[code]

[2021-03-29 22:22] #113 closed, assigned to nobody

[2021-03-29 22:45] displague commented on #121
Starting with v0.2.0, the packet-labs/google-anthos integration is at
https://github.com/equinix/terraform-metal-anthos-on-vsphere

It is also published here: https://registry.terraform.io/modules/equinix/anthos-on-vsphere/metal/latest

[2021-03-29 22:45] #121 closed, assigned to nobody

[2021-03-29 22:46] displague commented on #122
Starting with v0.2.0, the packet-labs/google-anthos integration is at
https://github.com/equinix/terraform-metal-anthos-on-vsphere
It is also published here: https://registry.terraform.io/modules/equinix/anthos-on-vsphere/metal/latest

[2021-03-29 22:46] #122 closed, assigned to nobody

[2021-03-29 22:47] displague commented on #107
I ran into a similar error on equinix/terraform-metal-vsphere#19 caused by having 1 ESXI compute noted.

[2021-03-29 22:48] displague commented on #96
CI/CD is included from v0.2.0+. Thanks, @rainleander. All the boxes are checked, closing.

[2021-03-29 22:48] #96 closed, assigned to rainleander

[2021-03-29 22:50] displague commented on #25
I believe that with the update to the v1.1 Equinix Metal Terraform provider, this error should no longer occur.

Please comment for a reopen if you (anyone) finds otherwise.

[2021-03-29 22:50] #25 closed, assigned to nobody

[2021-03-29 22:53] displague commented on #91
Closing this as most of the checkboxes have been checked.

We can continue to iron out E2E test success in #125.

[2021-03-29 22:53] #91 closed, assigned to nobody

[2021-03-29 22:54] displague commented on #125
Once complete, we may wish to create a new issue for performing Anthos specific testing (per #91).

[2021-04-23 18:18] displague opened #126 "Management network should not be defined in private_subnets"
https://github.com/equinix/terraform-metal-anthos-on-vsphere/blob/main/variables.tf#L38-L71 includes a `Management` network which is a special network that the vSphere module provisions.

The vSphere module advises not to create this network:

https://github.com/equinix/terraform-metal-vsphere/blob/main/variables.tf#L38-L69

[2021-04-23 19:37] displague commented on #115
@dfong This sounds like something that can be done locally as a matter of Terraform configuration. https://www.terraform.io/docs/language/values/variables.html#variable-definitions-tfvars-files

You can put your secrets in `secrets.auto.tfvars` and keep the other configuration variables in `terraform.tfvars`.

I'm closing this, but feel free to reopen this if you think we should include documentat

[2021-04-23 19:37] #115 closed, assigned to nobody

[2021-05-26 18:02] displague opened #128 "GCP generated keys should take a name parameter"
The GCP key generating script https://github.com/equinix/terraform-metal-anthos-on-vsphere/blob/main/anthos/create_service_accounts.sh creates keys with a fixed name. This prevents other users sharing that project from generating keys themselves.

The keys must then be shared among team members.

We can provide a better experience by taking an optional name prefix/suffix.

Similar to https://githu

[2021-06-15 05:59] vhamburger opened #129 "Deployment fails when respecting the README.MD"
The introduced changes with the vsphere module break the entire repository.
Variables in TF are not documented or broken (object_store_tool is undocumented while the "s3_boolean" is not doing anything anymre). Also - I was not able to deploy and continously got NSX errors like:
 Error: remote-exec provisioner error

   with module.vsphere.null_resource.apply_esx_network_config[0],
   on .terraform

[2021-06-15 15:34] displague opened #130 "Support for Anthos 1.8"
Users would like to provision Anthos 1.7 through this module.

What changes are needed to support this?

[2021-06-15 15:36] displague commented on #129
https://github.com/equinix/terraform-metal-anthos-on-vsphere/pull/127 is bringing some of these updates. That PR is being tested through CI and there are some test failures blocking it currently.

I've created #130 to represent an interest in supporting Anthos 1.7.

[2021-06-15 16:05] displague commented on #116
In a terraform module, these examples should be provided in `examples/name-of-example/main.tf`

It would be interesting to use one of these examples for testing, rather than using the `git pull` for testing.  Doing so will ensure that the root module behavior is functional.

This is something to consider after #125.

[2021-06-21 02:40] di commented on #129
This is affecting me as well. Are there any quick workarounds?

[2021-06-21 03:00] c0dyhi11 commented on #129
You can run off this release. It pre-dates all of these changes: https://github.com/equinix/terraform-metal-anthos-on-vsphere/releases/tag/v0.1.0

[2021-06-21 03:24] di commented on #129
Thanks @c0dyhi11! I get the following error though:

[code]
Sorry, not super familiar with terraform so I'm not sure what's best to do here.

[2021-06-21 03:57] di commented on #129
I tried making the following update to my `main.tf`:

[code]

 However this gives me:

[code]

And indeed `2.10.1` doesn't seem to be available here: https://registry.terraform.io/providers/packethost/packet/. Attempting to upgrade to any newer version gives me:

[code]

[2021-06-21 13:08] c0dyhi11 commented on #129
Yeah... This is pretty broken...  The is being compounded that packet was acquired by Equinix and changed the module from `packet` to `equinix-metal`

Do you need to run Anthos on VMware?

Or could you get away with Running Anthos on Baremetal?

https://github.com/equinix/terraform-metal-anthos-on-baremetal

[2021-06-21 15:25] di commented on #129
That could work, I tried it but I'm running into issues there as well: https://github.com/equinix/terraform-metal-anthos-on-baremetal/issues/74